<% if product = Product.find_by(id: product_id) %>
  <% item_total = product.price * quantity %>

  <tr>
    <td>
      <%= image_tag product.image.tiny %>
    </td>
    <td>
      <h4><%= product.name %></h4>
      <br>
    </td>
    <td>
      <%= humanized_money_with_symbol product.price %>
    </td>
    <td>
      <%= quantity %>
    </td>
    <td>
      <%= humanized_money_with_symbol item_total %>
    </td>
  </tr>
<% end %>